<% @title = "Transaction" %>
<br>
<div class="col-sm-offset-5 col-sm-2">
  <%= form_tag do %>
      <%= text_field :symbol, "", class: 'form-control', placeholder: 'Stock Symbol' %>
      <br>
      <%= number_field :amount, "", class: 'form-control', placeholder:'Amount' %>
      <br>
      <%= select_tag :asset_type, "<option>Stock</option>".html_safe,
                     class: 'form-control'%>
      <br>
      <%= submit_tag "Complete Transaction", class: "btn btn-primary" %>

  <% end %>
</div>
