<% @title="History" %>
<table class="table table-striped">
  <thead>
  <tr>
    <th class="text-center">Symbol</th>
    <th class="text-center">Type</th>
    <th class="text-center">Number</th>
    <th class="text-center">Price</th>
    <th class="text-center">Value</th>
    <th class="text-center">Date and Time</th>
  </tr>
  </thead>
  <tbody>
  <% @hist_transaction.each do |transact|%>
      <tr>
        <td><%= transact.symbol %></td>
        <td><%= transact.asset_type %></td>
        <td><%= transact.shares %></td>
        <td><%= transact.price %></td>
        <td><%= transact.cost %></td>
        <td><%= transact.created_at %></td>
      </tr>
  <% end %>
  </tbody>
</table>