<% @title="Sign Up" %>
<h1>Sign up</h1>

<div class="col-xs-2">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_form_submission' %>
        <%= f.text_field :username, class: 'form-control', placeholder: 'Username' %>
        <br>
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
        <br>
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
        <br>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation' %>
        <br>
        <%= f.submit "Register", class: "btn btn-primary" %>
      <% end %>
</div>