<!-- app/views/shared/_navigation.html.erb -->
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= image_tag("logo.png") %>
<% if logged_in? %>
  <div id = "top-nav">
    <nav class="nav nav-pills" role="navigation">
      <div class="container">
        <ul class = "nav nav-pills">
          <li role = "presentation"><%= link_to "Home", root_path %></li>
          <li role = "presentation"><%= link_to "Quote", quotes_path %></li>
          <li role = "presentation"><%= link_to "Transactions", transact_path %></li>
          <li role = "presentation"><%= link_to "History", root_path %></li>
          <li role = "presentation"><%= link_to "Log Out", logout_path, method: :delete %></li>
          </ul>
      </div>
    </nav>
  </div>
<% else %>
  <div id = "top-nav">
    <nav class="nav nav-pills" role="navigation">
      <div class="container">
        <ul class = "nav nav-pills">
          <li role = "presentation"><%= link_to "Home", root_path %></li>
          <li role = "presentation"><%= link_to "Sign Up", signup_path %></li>
          <li role = "presentation"><%= link_to "Log In", login_path %></li>
        </ul>
      </div>
    </nav>
  </div>
<% end %>